.selector-for-some-widget {
    box-sizing: content-box;
  }

h5 {
    color :rgb(103, 103, 171);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: azure;
    padding:10px ;
    border-radius: 10px;
}

p {

    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.btn {
    background-color: aliceblue;
    color: rgb(103, 103, 171);
}

img {
    height: 215px;
}
.card-body {
    background-image: url("background.jpg");
   
}

.card-body>p{
    background-color: aliceblue;
    padding: 20px;
}